  <h2 onclick={{action (action goToPost post)}}>{{post.title}}</h2>
  <p>{{{post.formattedBody}}}</p>
  <p>{{post.createdAt}}</p>

  {{#if session.isAuthenticated}}
    <div class="tools">
      <button onclick={{action 'delete' post}} class="small delete">{{partial 'svg/plus'}}</button>
      <button onclick={{action 'edit' post}} class="small ico">E</button>
    </div>
  {{/if}}
