<h2 onclick={{action (action goToPost post)}}>{{post.title}}</h2>
  <div class="meta">
    {{#if post.createdAt}}<span>{{concat 'Created at: ' (date post.createdAt)}}</span> {{/if}}
    {{#if post.updatedAt}}<span>{{concat 'Last updated at: ' (date post.updatedAt)}}</span> {{/if}}
  </div>
<p>{{{post.formattedBody}}}</p>


{{#if session.isAuthenticated}}
  <div class="tools">
    <button onclick={{action 'delete' post}} class="small delete">{{partial 'svg/plus'}}</button>
    <button onclick={{action 'edit' post}} class="small ico">/</button>
  </div>
{{/if}}
