{{x-nav}}

<div class="viewport {{if isScrollLocked 'scroll-locked'}}">
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
  {{the-button}}
  {{#if ui.isWriting}}
    {{x-writer goTo=(action 'goTo') writeable=ui.writeable}}
  {{/if}}
{{/if}}

